<div class="topbar">
        <div class="global-nav">
            <div class="global-nav-inner">
                <div class="container">

                    <h1 class="Icon Icon--bird bird-topbar"></h1>
                    <div class="position-fixer"></div>
                    <!-- Nav-right side begins -->
                    <div role="navigation">
                        <ul class="nav" id="global-actions">

                            <li id="global-nav-home" class="home active">
                                <a href="#">
                                    <span class="Icon Icon--home Icon--large"></span>
                                    <span class="text">Home</span>
                                </a>
                            </li>

                            <li class="notifications">
                                <a href="#">
                                    <span class="Icon Icon--notifications Icon--large"></span> <span class="text">Not
                                </a>
                            </li>

                            <li class="discover">
                                <a href="#">
                                    <span class="Icon Icon--discover Icon--large"></span> <span class="text">Discover
                                </a>
                            </li>

                            <li class="me">
                                <a href="#">
                                    <span class="Icon Icon--me Icon--large"></span> <span class="text">Me</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Nav-left side ends / Right side begins -->
                    <div class="nav-right">

                        <div role="search">
                            <form class="search-form">
                                <input class="search-input" type="text" id="search-query" placeholder="Search Twitter
                                <span class="search-icon">
                                    <button class="Icon Icon--search nav-search">
                                    </button>
                                </span>
                            </form>
                        </div>

                        <ul class="nav right-actions" id="right-actions"> 

                            <li class="dm-nav"> 
                                <a href="#" title="Direct messages">
                                    <span class="Icon Icon--dm Icon--large"></span> 
                                </a>
                            </li> 

                            <li class="settings"> 
                                <a href="#" title="Settings"> 
                                    <span class="Icon Icon--cog Icon--large"></span>
                                </a>
                            </li>  

                            <li role="tweet"> 
                                <button type="button" id="new-tweet-button" class="tweet-button" title="Compose new t
                                    <span class="Icon Icon--tweet Icon--large"></span>
                                </button> 
                            </li>  

                        </ul>
                    </div>
                    <!-- Nav-right side ends -->
                </div>
            </div>
        </div>
    </div> 