<div class="tweet-header">
          <a class="account-group"> 
            <img class="avatar" src="https://pbs.twimg.com/profile_images/378800000091878872/277746bf9db136eb9c99dfcbdd9a4f90_bigger.jpeg">
            <a class="full-name">Inspring Quotes</a> <U+200F>
            <a class="username">@ThisInspiresUs</a> 
            <small class="time">
              <a class="timestamp">13h</a> 
            </small>
          </a>
          <p class="tweet-text">Life is not about waiting for the storm to pass, It is about learning to dance in the
          </p>
          <div class="stream-item-footer">
            <ul class="tweet-actions">
              <a class="details with-icn" href="#">
                <b>Expand</b>
              </a>
              <li class="action-reply-container">
                <a role="button" class="with-icn" href="#">
                  <span class="Icon Icon--reply"></span>
                  <b>Reply</b>
                </a>
              </li>
              <li class="action-rt-container">
                <a role="button" class="with-icn retweet" href="#">
                  <span class="Icon Icon--retweet"></span>
                  <b>Retweet</b>
                </a>
              </li>
              <li class="action-fav-container">
                <a role="button" class="with-icn favorite js-tooltip" href="#" data-original-title="">
                  <span class="Icon Icon--favorite"></span>
                  <b>Favorite</b>
                </a>
              </li>
              <li class="more-tweet-actions">
                <a type="button" class="btn-link with-icn">
                  <span class="Icon Icon--dots"></span>
                  <b>More</b>
                </a>
              </li>
            </ul>
          </div>
        </div>