<div class="panel panel-default panel-body">
    <div class="profile">
      <img src="https://pbs.twimg.com/profile_images/378800000091878872/277746bf9db136eb9c99dfcbdd9a4f90_bigger.jpeg">
    </div>

    <div class="content">
      <h3>
        <a href="https://twitter.com/thejennywang">
          @<%= current_user.name %>
        </a>
      </h3>

      <h4>Tweet tweet! </h4>

    </div>
</div>

<div class="panel panel-default panel-body">
  <p><%= link_to 'New Tweet', new_tweet_path %></p>
</div>

<div class="panel panel-default panel-body">
  <p>Tweet</p>
</div>

<div class="panel panel-default panel-body">
  <p>Tweet</p>
</div>
