<% if current_user %>
  <% current_user.timeline.each do |tweet| %>
    <div class="panel panel-default panel-body">
      <div class="profile">
        <h3><%= tweet.user.name %>
          <img src="<%= tweet.user.profile_image_url %>"/>
        </h3>
      </div>
      <div class="tweet">
       <%= tweet.text %>
     </div>
    </div>
  <% end %>

<% else %>
  <div class="jumbotron">
    <h1>Let's get started</h1>
    <p><a class="btn btn-primary btn-lg" href="/auth/twitter/" role="button">Connect to Twitter</a></p>
</div>

<% end %>