<!DOCTYPE html>
<body>

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <!-- Tweet button -->
          <li role="presentation">
          <a class="twitter-share-button" href="https://twitter.com/share" data-related="twitterdev" data-size="large" data-count="none">Tweet</a>
          <script>
            window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
          </script>
          </li>
          <!-- Tweet button -->
        </ul>
      </nav>
      <h3 class="text-muted">Tweeter on Rails</h3>
    </div>

    <!-- A Tweet -->

    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: "tweet" %>
      </div>
    </div>

    <!-- End of Tweet -->

    <footer class="footer">
      <p>&copy; Jenny Wang 2015</p>
    </footer>

  </div> <!-- /container -->

  <script src='https://code.jquery.com/jquery-2.0.3.min.js'></script>

  <script>
    $(document).ready(function(){
      $('#add_profile').on('submit',function(){

      })
    })
  </script>

</body>