<!DOCTYPE html>
<body>

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <!-- Tweet button -->
          <li role="presentation">
          <a class="twitter-share-button" href="https://twitter.com/share" data-related="twitterdev" data-size="large" data-count="none">Tweet</a>
          <script>
            window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
          </script>
          </li>
          <!-- Tweet button -->
        </ul>
      </nav>
      <h3 class="text-muted">Tweeter on Rails</h3>
    </div>

    <div class="jumbotron">
      <h1>Hello there</h1>
      <p class="lead">What are your last 5 tweets?</p>
      <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
    </div>

    <!-- A Tweet -->

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="tweet-header">
          <a class="account-group"> 
            <img class="avatar" src="https://pbs.twimg.com/profile_images/3358467495/f5ea64532bd7556719e1b88ed1a6f246_bigger.jpeg">
            <a class="full-name">Inspring Quotes</a> ‏
            <a class="username">@ThisInspiresUs</a> 
            <small class="time">
              <a class="timestamp">13h</a> 
            </small>
          </a>
          <p class="tweet-text">Life is not about waiting for the storm to pass, It is about learning to dance in the rain.
          </p>
          <div class="stream-item-footer">
            <ul class="tweet-actions">
              <a class="details with-icn" href="#">
                <b>Expand</b>
              </a>
              <li class="action-reply-container">
                <a role="button" class="with-icn" href="#">
                  <span class="Icon Icon--reply"></span>
                  <b>Reply</b>
                </a>
              </li>
              <li class="action-rt-container">
                <a role="button" class="with-icn retweet" href="#">
                  <span class="Icon Icon--retweet"></span>
                  <b>Retweet</b>
                </a>
              </li>
              <li class="action-fav-container">
                <a role="button" class="with-icn favorite js-tooltip" href="#" data-original-title="">
                  <span class="Icon Icon--favorite"></span>
                  <b>Favorite</b>
                </a>
              </li>
              <li class="more-tweet-actions">
                <a type="button" class="btn-link with-icn">
                  <span class="Icon Icon--dots"></span>
                  <b>More</b>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- End of Tweet -->
    
    <footer class="footer">
      <p>&copy; Jenny Wang 2015</p>
    </footer>

  </div> <!-- /container -->
</body>