// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: Gotham Narrow SSm, Helvetica, Arial, Sans-serif;
  background-image: url(https://abs.twimg.com/images/themes/theme1/bg.png);
  background-color: #C0DEED;
  background-repeat: no-repeat;
  color: #292f33;
  font-size: 14px;
  line-height: 18px;
  overflow-y: scroll;
  min-width: 400px;
  height: 100%;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: .8;
}
h2 {
  color: #66757f;
  font-size: 22px;
  font-weight: 300;
  line-height: 22px;
  display: block;
}
h3 {
  color: #66757f;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  display: inline;

}
ul {
  list-style: none;
  padding: 0;
  display: block;
}
form {
  display: block;
  margin-top: 0;
}
div:focus, input:focus, button:focus {
  outline: none;
}
button {
  background: transparent;
  border: 0;
  padding: 0;
}
a {
  color: #2b7bb9;
  text-decoration: none;
  background: transparent;
}
b:hover {
  color: #0084B4;
  text-decoration: underline;
}
small {
  font-size: 80%;
}
.position-fixer {
  margin-top: -37px;
}
.position-fixer-2 {
  margin-top: -25px;
}
.topbar {
  border-bottom: 1px solid #e8e8e8;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  box-shadow: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  color: gray;
}
.global-nav {
  border-bottom: 1px solid rgba(0,0,0,0.15);
  height: 46px;
  background: transparent;
  position: relative;
  width: 100%;
  margin-right: 12px;
  text-align: left;
}
.global-nav-inner {
  background: #FFF;
  height: 46px;
}
.global-nav .container {
  height: 46px;
  width: auto;
  max-width: 1190px;
  margin: auto;
  text-align: center;
  position: relative;
}
.container {
  position: relative;
  width: 890px;
  margin: 0 auto;
}
.bird-topbar {
  color: #55acee;
  font-size: 21px;
  margin-top: 14px;
  transition: all .25s ease-in-out;
}
.global-nav [role=navigation], .nav, .nav > li {
  display: inline-block;
  float: left;
}
.nav {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
#global-actions > li {
  height: 46px;
  overflow: hidden;
}
#global-actions > li > a {
  border-bottom: 4px solid #0084b4;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}
.nav > li > a {
  color: inherit;
  display: block;
  font-size: 13px;
  font-weight: 500;
  height: 46px;
  padding: 0 14px 0 4px;
  text-shadow: none;
  line-height: 1;
}
.nav > li .Icon {
  float: left;
  margin: 11px 0 0 10px;
  width: 23px;
  height: 23px;
}
.nav-right {
  float: right;
  text-align: left;
}
.global-nav .nav-right .right-options {
  margin: 0;
}
.global-nav .nav-right .nav {
  position: relative;
  z-index: 5;
  margin: 0 -12px;
}
.global-nav [role=search] {
  float: left;
  margin-top: 7px;
  margin-right: 24px;
}
.search-form {
  position: relative;
  font-size: 12px;
  margin-bottom: 0;
}
.global-nav .form-search {
  float: left;
  height: 33px;
  margin: 7px 15px 0 0;
  font-size: 12px;
  width: 221px;
}
.global-nav .search-input {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding: 5px 27px 6px 12px;
  font-size: 12px;
  color: #66757f;
  background-color: #ccd6dd;
  border: 0;
  border-radius: 21px;
}
.global-nav .form-search .search-input {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  color: #fff;
  background-color: transparent;
  opacity: .6;
}
.global-nav .form-search .search-icon {
  z-index: 3;
}
.global-nav .search-icon {
  position: absolute;
  top: 4px;
  right: -3px;
  display: block;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.global-nav .search-icon .Icon {
  color: #fff;
  font-size: 13px;
  height: auto;
  margin: 3px 0 0 0;
  padding: 0;
  width: auto;
}
.tweet-button {
  background: rgba(0,132,180,0.8);
  border: 1px solid transparent;
  color: #fff;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  height: 32px;
  margin-top: 7px;
  margin-right: 10px;
  opacity: .7;
  padding: 0 7px 0 8px;
}
#new-tweet-button .Icon {
  font-size: 24px;
  margin: 0;
  opacity: 1;
  position: relative;
  top: -2px;
}
.tweet-button:hover {
  background: rgba(0,132,180,1);
  transition: all .2s ease-in-out;
}
.Icon--large {
  font-size: 21px;
  line-height: 1;
}
.Icon {
  background: transparent;
  font-style: normal;
  display: inline-block;
  vertical-align: baseline;
}
.Icon:before {
  font-family: 'rosettaicons';
  display: block;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
.Icon--home:before { content: "\f053"; }
.Icon--notifications:before { content: "\f055"; }
.Icon--discover:before{ content: "\f052"; }
.Icon--me:before { content: "\f056"; }
.Icon--search:before {content: "\f058";}
.Icon--dm:before {content: "\f054";}
.Icon--cog:before {content: "\f059";}
.Icon--tweet:before {content: "\f029";}
.Icon--bird:before {content: "\f179";}
.nav > li > a .text {
  float: left;
  margin-left: 3px;
  margin-top: 17px;
  padding: 0;
}
.nav > li > a:hover {
  color: inherit;
  text-decoration: none;
}
#global-actions > li:hover > a, #global-actions > li.active > a {
  height: 42px;
}

li:hover {
  color: #0084b4;
  transition: all .2s ease-in-out;
}

.AllContent {
  padding: 56px 14px 15px;
  position: relative;
  max-width: 890px;
  margin: 0 auto;
  position: relative;
}
.dashboard .tweet-content .tweet-box {
  padding: 6px 8px 5px;
  line-height: 18px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid rgba(0,132,180,0.25);
}
.tweet-box{
  padding: 30px;
}
.dashboard-left {
  float: left;
  width: 290px;
}

.module {
  background-clip: padding-box;
  border: 0;
  border-radius: 6px;
  line-height: 16px;
  position: relative;
  margin-bottom: 10px;
}
.module-header {
  margin-bottom: 10px;
}

.flex-module{
  background-color: #fff;
  border: 1px solid #e1e8ed;
  line-height: 16px;
  padding: 15px;
}

.UserProfile {
  border: 1px solid #e1e8ed;
  background: #FFF;
  border-radius: 6px;
}
.UserProfile-bg {
  background-image: url(https://pbs.twimg.com/profile_banners/27575301/1407619575/600x200);
  background-size: 100%;
  border-bottom: 1px solid #e1e8ed;
  height: 95px;
  border-radius: 4px 4px 0 0;
  background-position: 0 50%;
  width: 100%;
  padding: 0 1px;
  margin-left: -1px;
  margin-top: -1px;
}
.UserProfile-avatarImage {
  border-radius: 5px;
  height: 70px;
  width: 70px;
}
.UserProfile-avatarLink {
  background-color: #fff;
  border-radius: 6px;
  margin: -30px 0 0 8px;
  padding: 3px;
  vertical-align: bottom;
}
.u-inlineBlock {
  display: inline-block!important;
  max-width: 100%;
}
.UserProfile-userFields {
  position: absolute;
  top: 103px;
  left: 90px;
  width: 185px;
}
.UserProfile-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #292f33
}
.UserProfile-screennameLink {
  font-size: 12px;
  padding-right: 5px;
  color: #66757f;
}
.UserProfile-screennameLink:hover {
  color: #0084B4;
  text-decoration: none;
}
.u-screenname-link:hover, .u-textInheritColor:hover {
  color: #0084B4;
  text-decoration: underline;
}

.UserProfile-stats {
  margin-left: 11px;
  padding: 10px 0;
}
.Arrange--equal {
  table-layout: fixed;
}
.Arrange {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto;
}

.Arrange--equal>.Arrange-sizeFill, .Arrange--equal>.Arrange-sizeFit {
  width: 1%;
}
.Arrange--bottom .Arrange-sizeFill, .Arrange--bottom .Arrange-sizeFit {
  vertical-align: bottom;
}
.UserProfile .UserProfile-stat {
  vertical-align: bottom;
}
.Arrange-sizeFill, .Arrange-sizeFit {
  display: table-cell;
  padding: 0;
  vertical-align: top;
}
.UserProfile-stat {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
  transition: all .15s ease-in-out;
  overflow: hidden;
}
.UserProfile-statLabel {
  color: #8c9ca9;
  font-size: 10px;
  letter-spacing: .02em;
  text-transform: uppercase;
  transition: color .15s ease-in-out;
  overflow: hidden;
}
.UserProfile-statValue {
  display: block;
  font-size: 18px;
  padding-top: 3px;
  font-weight: 500;
  transition: color .15s ease-in-out;
}
.u-textUserColor, .u-textUserColorHover:hover, .u-textUserColorHover:focus {
  color: #0084B4 !important;
}
.u-linkClean, .u-linkClean:hover, .u-linkClean:focus, .u-linkClean:active {
  text-decoration: none!important;
}
.u-block {
  display: block!important;
}
.dm-tweetbox, .content-main {
  background-color: #E5F2F7;
}
.u-borderUserColorLighter {
  border-color: #BFE0EC !important;
}
.u-bgUserColorLightest {
  background-color: #E5F2F7 !important;
}
.UserProfile-tweetbox {
  border: 1px solid;
  padding: 12px;
  width: 264px;
}
.tweet-user {
  padding: 10px 12px;
  background-color: #f5f8fa;
  border-radius: 0 0 5px 5px;
  margin: -1px;
}

.content-main {
  float: left;
  border-radius: 5px;
  width: 590px;
  margin: 0px 10px 10px 10px;
}
.content-header {
  border: 1px solid #e1e8ed;
  border-bottom-width: 0;
  border-radius: 6px 6px 0 0;
}
.content-header .header-inner {
  min-height: 20px;
  padding: 12px;
  background-color: #fff;
  border-bottom: 1px solid #e1e8ed;
  border-radius: 5px 5px 0 0;
}

.tweet .time:before { content: "\00b7"; }
.Icon--reply:before { content: "\f151"; }
.Icon--retweet:before { content: "\f152"; }
.Icon--favorite:before { content: "\f147"; }
.Icon--dots:before { content: "\f150"; }
.Icon--follow:before { content: "\f175"; }
.Icon--verified:before { content: "\f099"; }


.tweet-container {
  display: -webkit-flex;
  display: flex;
}
.tweet-item-header .avatar {
  float: left;
  margin-top: 3px;
  margin-left: -58px;
}
.avatar {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  margin-bottom: -36px;
  margin-right: 4px;
}
img {
  border: 0;
}
.account-grou:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #0084B4;
}

.username, .timestamp, .time {
  font-size: 13px;
  color: #8899A6;
}
.full-name {
  color: #292f33;
  font-family: Arial;
  font-weight: bold;
}
.full-name:hover {
  color: #0084B4;
  text-decoration: underline;
}
.account-group:hover {
  text-decoration: none;
  color: #8899A6;
}
.timestamp:hover {
  color: #0084B4;
  text-decoration: underline; 
}
.tweet:hover {
  background-color: #f5f8fa;
}

.tweet {
  background-color: #fff;
  border-bottom: 1px solid #e1e8ed;
  cursor: pointer;
  position: relative;
  min-height: 51px;
  padding: 9px 12px;
  border-bottom: 1px solid #e1e8ed;
}
.tweet-text {
  margin-left: 56px;
  color: #292f33;
}
.stream-item-footer {
  display: table;
  width: 100%;
}
.tweet .stream-item-footer {
  font-size: 12px;
  padding-top: 3px;
}
.stream .stream-item-footer .tweet-actions {
  margin: 0;
  text-align: right;
}
.with-icn {
  font-size: 12px;
  color: #8899a6;
}
.tweet-actions li {
  display: inline;
  float: right;
}
.tweet-actions a, .tweet-actions button {
  margin-left: 8px;
}

.account-group:hover .username, .username, .account-summary:focus .username {
  text-decoration: none;
  color: #8899a6;
}
.tweet .tweet-actions .Icon {
  font-size: 12px;
  position: relative;
  top: 1px;
  width: auto;
}
.tweet .Icon {
  background: transparent;
  position: relative;
  top: 2px;
}
.with-icn .icon, .with-icn .Icon {
  margin-right: 4px;
}