// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: Gotham Narrow SSm, Helvetica, Arial, Sans-serif;
  background-image: url(https://abs.twimg.com/images/themes/theme1/bg.png);
  background-color: #C0DEED;
  background-repeat: no-repeat;
  color: #292f33;
  font-size: 14px;
  line-height: 18px;
  overflow-y: scroll;
  min-width: 400px;
  height: 100%;
}

.thumbnail {
  float: left;
  margin: 5px;
}
