<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Simple Twitter app built on Rails">
    <meta name="author" content="Jenny Wang">
    <link rel="icon" href="https://abs.twimg.com/favicons/favicon.ico">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <title>★★★★★Tweeter on Rails</title>

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
    
    <% render partial: "globalnav" %>

    <%= yield %>


</body>
</html>
