  <div class="panel panel-default panel-body">
    <h1>Home Timeline</h1>
      <table class="table table-striped">
        <tr>
          <th>User Name</th>
          <th>Profile Image</th>
          <th>Text</th>
        </tr>
        <% current_user.get_home_timeline.each do |t| %>
         <tr>
           <th><%= t.user.name %></th>
           <th><%= image_tag current_user.image, class: "thumbnail" %></th>
           <th><%= t.text %></th>
         </tr>
        <% end %>
    </table>
  </div>